<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233966594254-gg5p71507pkkrp641l5o8n3c5bmedfat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233966594254-gg5p71507pkkrp641l5o8n3c5bmedfat</string>
	<key>API_KEY</key>
	<string>AIzaSyAk9FHnzYRY0Bt1dvsrwdV4aqaR_c2Ue3w</string>
	<key>GCM_SENDER_ID</key>
	<string>233966594254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hanko.UnraisinYourself</string>
	<key>PROJECT_ID</key>
	<string>unraisinyourself</string>
	<key>STORAGE_BUCKET</key>
	<string>unraisinyourself.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233966594254:ios:b64128699eff388cec489f</string>
</dict>
</plist>